= Haml::Engine.new(File.read(File.dirname(File.expand_path("..",__FILE__))+"/Config/config.haml")).render(Object.new, :relative => File.expand_path("../..",__FILE__))
!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

	-# This Tells HubSpot To Include The Site Head
	{% include "custom/page/Deli_Framework/Site_Head.html" %}

	%body.team
		{% include "custom/page/Deli_Framework/Site_Header.html" %}
		-# These are the includes for the hero section
		= Haml::Engine.new(File.read("/Users/impactbnd/Sites/impact-framework/Deli_Wraps/_subpage_hero.haml")).render(Object.new, :block => "one")

		= Haml::Engine.new(File.read("/Users/impactbnd/Sites/impact-framework/Deli_Wraps/_intro_text.haml")).render(Object.new, :block => "one")
		
		.team-section.text--left
			.grid.team-seperator
				.grid__item.one-third.soft--left.soft--right.hard--top.hard--bottom>
					= Haml::Engine.new(File.read("/Users/impactbnd/Sites/impact-framework/Deli_Cold_Cuts/_team_item.haml")).render(Object.new, :block => "one")
				.grid__item.one-third.soft--left.soft--right.hard--top.hard--bottom>
					= Haml::Engine.new(File.read("/Users/impactbnd/Sites/impact-framework/Deli_Cold_Cuts/_team_item.haml")).render(Object.new, :block => "two")
				.grid__item.one-third.soft--left.soft--right.hard--top.hard--bottom>
					= Haml::Engine.new(File.read("/Users/impactbnd/Sites/impact-framework/Deli_Cold_Cuts/_team_item.haml")).render(Object.new, :block => "three")

		= Haml::Engine.new(File.read("/Users/impactbnd/Sites/impact-framework/Deli_Wraps/_large_cta.haml")).render(Object.new, :block => "one")

	:javascript
		$( document ).ready(function() {
			$('.pop-modal').hide();
			$('.overlay').hide();
			$('.single').click(function(){
				$('.overlay').show();
				var id = $(this).attr('rel');
				$('#'+id).fadeIn();
				$(window).resize();
			});
			$('.closeBtn, .overlay').click(function(){
				//var id = $(this).parent().attr('id');
				
				$('.pop-modal').fadeOut(800, function() {
					$('.overlay').fadeOut();
				});
			});
			$( ".employee-bg" ).each(function() {
				var avatar = $(this).css('background-image');

				avatar = avatar.replace('cdn2.hubspot.net/hub/298890/http://', '');
				$(this).css('background-image', avatar);
				console.log(avatar);
			});
		});
	-# This Tells HubSpot To Include The Site Footer
	{% include "custom/page/Deli_Framework/Site_Footer.html" %}

/
	[hubspot-metadata]
	{
	"category": "page",
	"creatable": true,
	"path": "custom/page/Deli_Framework/Team_Page"
	}
	[end-hubspot-metadata]
