.ta-image
	{% linked_image "services_image_#{block}" label="Service #{block}: Choose a Service Image", src="http://cdn2.hubspot.net/hub/298890/file-1262641845-jpg/always-sunny.jpg" %}
.ta-header
	{% header "services_header_#{block}" label="Service #{block}: Choose a Service Header", header_tag="h3", value="This Is An H3" %}
.ta-copy
	{% raw_html "services_text_#{block}" label="Service #{block}: Place Service Text Here", value="Content goes here" %}